// Credit: Natsukis
// http://natsukis.livejournal.com

$white:         #f4f4f4;
$black:         #1e1e1e;

$soft-nebula:   #8a8eff;
$cosmonaut:     #668ee3;
$voyager-1:     #90d3f5;
$aeronautics:   #5bcfe3;
$xenobiology:   #68edbc;
$terraform:     #71de95;
$planetarium:   #d1f283;
$comet-trail:   #ffdc8a;
$space-debris:  #f5a171;
$supergiant:    #eb6c76;
$milky-star:    #ff8ab5;
$binary-star:   #ff96e3;
$luna-base:     #d897de;
$asteroid-belt: #bb96ff;

$high-soft-nebula:   #242bff;
$high-cosmonaut:     #0b50e3;
$high-voyager-1:     #2fb3f5;
$high-aeronautics:   #00c1e3;
$high-xenobiology:   #09ed9a;
$high-terraform:     #18de5a;
$high-planetarium:   #acf20a;
$high-comet-trail:   #ffbd24;
$high-space-debris:  #f5630f;
$high-supergiant:    #eb0e20;
$high-milky-star:    #ff2474;
$high-binary-star:   #ff30c8;
$high-luna-base:     #d13ede;
$high-asteroid-belt: #7930ff;

$a: #D09A6A;
$a: #535860;
$a: #DFC189;
$a: #513D18;
$a: #DE5355; // #eb6c76
$a: #FFFFFF; // #f4f4f4
$a: #5AB6C1; // #5bcfe3
$a: #65B0ED; // #90d3f5
$a: #C57BDB; // #d897de
$a: #99C27C; // #d1f283
$a: #DE6D77;
$a: #BC5149;
$a: #E4BF7F;
$a: #ABB2BE;
$a: #5C636F;
